{% extends 'layouts/base.html' %}


{% block content %}

<div class="d-flex">
    {% for article in articles %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'blog:article-detail' article.slug %}" class="link">{{ article.title }}</a>
                    </h5>
                    <p class="card-text">{{ article.body }}</p>
                    {% for category in article.categories.all %}
                        <span class="btn btn-danger btn-sm">#{{ category }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>
    
{% endblock %}
    